* {
  box-sizing: border-box;
}

body {
  background-color: #264653;
  width: 80%;
  margin: 0 auto;
}

img {
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2,
h3 {
  color: #e9c46a;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2rem;
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: #0ff;
  border-bottom: 1px dashed red;
}

h3+ul {
  list-style-type: square;
}

h3+ul,
h3+ol,
p {
  font-size: 1.5rem;
  color: #f4a261;
}

ul {
  line-height: 1.5;
  padding: 0 auto;
  display: inline-block;
  list-style-type: none;
}

a {
  color: #2a9d8f;
  font-size: 1.5rem;
  text-decoration: none;
  border-left: 3px solid teal;
  padding-left: 10px;
}

a:hover {
  background-color: #2a9d8f;
  color: #e9c46a;
  text-decoration: underline;
}

img {
  display: block;
  text-align: center;
}